$font-serif: georgia, serif;
$font-sans: helvetica, sans-serif;
$font-header: helvetica, sans-serif;

$black: #111;
$white: #fdfdfd;

$-sm-min: 300px;
$-sm-max: 767px;
$-md-min: 768px;
$-md-max: 1067px;
$-lg-min: 1068px;
$-lg-max: 1280px;
$-xl-min: 1281px;
$-xl-max: 1440px;

// ip colors
$color-1: #2F7171;
$color-2: #1E2E46;
$color-3: #DC3C6E;
$color-4: #2F1F42;
